* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: grey;
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 25vw 75vw;
    grid-template-rows: 20vh 80vh;
    grid-template-areas: 
        "nav header"
        "nav main";
}
.container > * {
    border: 1px red solid;
}

header {
    grid-area: header;
    display: flex;
}

header > h1 {
    align-self: center;
    padding: 100px 0 0 5%;
}

nav {
    grid-area: nav;
    display: grid;
    grid-template-rows: 20vh 80vh;
}
nav > img {
    
    align-self: center;
    width: 25vw;
    height: 15vh;
}
.navList {
    grid-row: 2 / -1;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    justify-self: center;
    gap: 15%;
    list-style: none;

}

main {
    grid-area: main;
}