* {
    margin: 0;
    padding: 0;
}
body {
    background-color: grey;
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 25vw 75vw;
    grid-template-rows: 20vh 80vh;
    grid-template-areas: 
        "nav header"
        "nav main";
}
.container > * {
    border: 1px red solid;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}